/************************************************
				CUSTOM SETTINGS 
************************************************/

/*-------------------COLOURS------------------*/

$white: #F7F7F7;
$black: rgba(0,0,0,0.5);

$gray: #424242;
$gray-font: #DBDBDB;

$primary-color: #424242;
$secondary-color: #DBDBDB;
/*-------------------SETTINGS------------------*/
