
@import "fonts";
@import "settings";
@import "custom";
@import "bower_components/foundation/scss/normalize";
@import "bower_components/foundation/scss/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/***************************************
			GLOBAL STYLING
***************************************/
.hero {
	padding-top: 3em;
}
.error {
	margin: 0.3em 0;
}

/***************************************
			HEADER STYLING
***************************************/
#header {
	width: 100%;
	#newPostButton {
		display: table-cell;
		color: $smokedgray;
		font-size: 1.3rem;
		line-height: 2.3rem;
		span {
			margin-left: 0.5rem;
			vertical-align: middle;
		}
	}
	#controls {
		i {
			margin-left: 0.3rem;
			font-size: 1rem;
		}
	}
}
/***************************************
			FOOTER STYLING
***************************************/
#footer {
	color: $lightsmoke;
	background-color: $smokedgray;
	p {
		padding: 1em 0;
		margin: 0;
		opacity:0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
	}
}

/***************************************
			PAGE STYLING
***************************************/
body {
	background-color: whitesmoke;
}
.box {
	background-color: $secondary-color;
	color: $lightsmoke;
	padding: 1em 1.5em;
	min-height: 10em;
	border-top: 6px solid $secondary-color;
	#timestamp {
		display: block;
		text-align: right;
		font-size: 0.8rem;
	}

}
#blocks {
	margin-top: 2.5em;
	li {
		h3 {
			text-align: center;
			font-weight: 700;
			color: $lightsmoke;
		}
	}
}
/***************************************
			SEARCH-FORM
***************************************/
#searchform {
	#search {
		height: 100%;
		padding: 0.5rem 1.5rem;
		font-size: 4rem;
	}
}
/***************************************
			SINGLE-ERFARING
***************************************/
.single-erfaringer .content{
	h1 {
		text-transform: uppercase;
		font-weight: 700;
	}
	#meta {
		padding-bottom: 1em;
		span {
			margin-right: 0.5em;
		}
	}
	#back {
		display: table-cell;
		span {
			vertical-align: middle;
			margin-left: 0.3rem;
		}
	}
	#content-wrapper {
		margin-top: 2em;
		padding-top: 2em;
		background-color: $primary-color;
	}
	#heading-wrapper {
		margin-top: 1em;
	}
}
/***************************************
			MCE-STYLING
***************************************/
#mce_13-body {
	button:hover {
		background-color: inherit;
	}
	#postContent_ifr {
		min-height: 20em;
	}
}

/***************************************
			COMMENTS
***************************************/
#comment-wrapper {
	min-height: 400px;
	padding: 1em;
	background-color: $primary-color;
	color: $lightsmoke;
	a {
		color: darken($secondary-color, 20);
	}
	.comments-title, .reply-title {
		font-weight: 700;
		text-transform: uppercase;
	}
}
.commentlist, .children {
	list-style: none;
}
.children {
	li {
		padding-top: 0;
		margin-top: 0;
	}
}
.comment {
	.header {
		color: $body-font-color;
		font-weight: 700;
		.author {
			padding: 1em 1em 1em 0;
			height: 100%;
			img {
				border-radius: 999px;
			}
		}
	}
	.text {
		margin-top: 0.5em;
	}
	.reply {
		font-size: 0.8rem;
		font-weight: 700;
		color: $body-font-color;
		:hover {
			color: darken($body-font-color, 10);
		}

	}
}
#respond {
	#commentarea {
		min-height: 15em;
	}
	a {
		font-weight: bold;
	}
}

/***************************************
			SUBMIT-FORM
***************************************/
#newPost {
	padding: 1em 3em;
	background-color: $lightsmoke;
	border: 1px solid $smokedgray;
	display: none;
	position: absolute;
		top: 2em;
		left: 20%;
		z-index: 999;
	width: 60%;
	#postContent {
		width: 100%;
		max-width: 100%;
		height: 20em;
	}
}
.close {
	cursor: pointer;
	width: 100%;
	display: block;
	font-size: 2em;
	text-align: right;
}
/***************************************
			LIVE-SEARCH
***************************************/

/** Dave's WordPress Live Search CSS **/
ul.search_results {
	width: 100%;
	max-width: 60.7rem;
	display: block;
	background-color:#fff;
	max-height: 500px;
	position:absolute;
	top:20px;
	left:0px;
	overflow:auto;
	z-index: 9999;	

	list-style-type: none;
	list-style-image: none;
	list-style-position: inside;

	padding: 0px;
	margin: 0px;
	}

ul.search_results li {
	display: block;
	padding: 5px 0px 5px 10px;
	margin: 0px 0px 0px 0px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #aaa;
	text-align: left;	
	color: $body-font-color;
	text-decoration: none;
	&:hover {
		background-color: $secondary-color;	
	}
}


ul.search_results li a, ul.search_results li a:visited {
	display: block;
	color: $body-font-color;
	margin-left: 0px;
	padding-left: 0px;
	text-decoration: none;
	font-weight: bold;
}

ul.search_results p#daves-wordpress-live-search_author {
	margin: 0px;
	font-size: 90%;
	font-weight: bold;
}

ul.search_results p#daves-wordpress-live-search_date {
	margin: 0px;
	font-size: 90%;
}

/* BEGIN post thumbnails */
ul.search_results li.post_with_thumb a {
	width:150px;
	float:left;
	margin-bottom: 5px;
}

ul.search_results li.post_with_thumb img.post_thumb {
	float: left;
	margin: 3px 10px 10px 0px;
	height: 48px;
	width: 48px;
	border: 1px solid #888;
}
/* END post thumbnails */

/* BEGIN post excerpt */
ul.search_results .excerpt, ul.search_results .meta {
	font-size: 75%;
	width: 100%;
}
/* END post excerpt */

ul.search_results .clearfix {
	float: none !important;
	clear: both !important;
}

.search_footer {
	background-color: #888;
	width: 100%;
	text-align: right;
	padding: .5em 0;
	font-size: .9em;
}

.search_footer a,
.search_footer a:visited {
	color: #fff;	
	margin-right: 1em;
}

#search_results_activity_indicator{
	display: none;
}
/***************************************
			TABLET STYLING
***************************************/
@media #{$medium-only} {
}
/***************************************
			MOBILE STYLING
***************************************/
@media #{$small-only} {

}