
@import "fonts";
@import "settings";
@import "custom";
@import "bower_components/foundation/scss/normalize";
@import "bower_components/foundation/scss/foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/***************************************
			GLOBAL STYLING
***************************************/
.hero {
	padding-top: 3em;
}
.error {
	margin: 0.3em 0;
}
/***************************************
			HEADER STYLING
***************************************/
#header {
	width: 100%;
	#newPostButton {
		color: $black;
		font-size: 3rem;
		line-height: 3rem;
	}
}

/***************************************
			PAGE STYLING
***************************************/
body {
	background-color: whitesmoke;
}
#snippets {
	margin-top: 2.5em;
	li {
		.panel {
			border-top: 6px solid red;
		}
		h3 {
			text-align: center;
			font-weight: 700;
		}
	}
}
/***************************************
			SEARCH-FORM
***************************************/
#searchform {
	#search {
		height: 100%;
		padding: 0.5rem 1.5rem;
		font-size: 4rem;
	}
}
/***************************************
			SUBMIT-FORM
***************************************/
#newPost {
	padding: 1em 3em;
	background-color: $white;
	border: 1px solid $black;
	display: none;
	position: absolute;
		top: 4em;
		left: 35%;
		z-index: 999;
	width: 30%;
	#postContent {
		width: 100%;
		max-width: 100%;
		height: 20em;
	}
}
.close {
	cursor: pointer;
	width: 100%;
	display: block;
	font-size: 3em;
	text-align: right;
}
/***************************************
			TABLET STYLING
***************************************/
@media #{$medium-only} {
}
/***************************************
			MOBILE STYLING
***************************************/
@media #{$small-only} {

}